.logReg-column{
    background-color: rgba(255,255,255,0.5);
    border-radius: 3vw;
    padding: 5vw;
    margin: 3vw;
}
label{
    color :rgb(128, 128, 128);
}
.logRegBtnBar{
    display: flex;
    justify-content: space-evenly;
}